@model IEnumerable<PatientViewModel>
@{
    @Html.ActionLink("Agregar Usuario", "Create")
    ;
    <table>
        <tr>
            <th>Nro. Historia Clinica</th>
            <th>DNI</th>
            <th>Nombre</th>
        </tr>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.ID</td>
                <td>@patient.DNI</td>
                <td>@patient.Name</td>
                
                <td>@Html.ActionLink("Detalles", "Details", new{dni=patient.DNI})</td>
                <td>@Html.ActionLink("Editar", "Edit", new{dni=patient.DNI})</td>
                <td>@Html.ActionLink("Eliminar", "Delete", new{dni=patient.DNI})</td>
            </tr>
        }
    </table>
}
