@model IEnumerable<DoctorViewModel>
@{
    @Html.ActionLink("Agregar Médico", "Create")
    ;
    <table>
        <tr>
            <th>Nro. Matricula</th>
            <th>DNI</th>
            <th>Nombre</th>
        </tr>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.ID</td>
                <td>@doctor.DNI</td>
                <td>@doctor.Name</td>

                <td>@Html.ActionLink("Detalles", "Details", new{ID=doctor.ID})</td>
                <td>@Html.ActionLink("Editar", "Edit", new{ID=doctor.ID})</td>
                <td>@Html.ActionLink("Eliminar", "Delete", new{ID=doctor.ID})</td>
            </tr>
        }
    </table>
}
